<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="titulo">
        <span class="material-icons corazon">favorite</span>
        <h1>Ana Claudia</h1>
        <span class="material-icons corazon">favorite</span>
    </div>
    <h2>Feliz 21 de Septiembre</h2>

    <div class="ramo">
        <img src="flores.png" class="tulipan tulipan-1" />
        <img src="flores.png" class="tulipan tulipan-2" />
        <img src="flores.png" class="tulipan tulipan-3" />
        <img src="flores.png" class="tulipan tulipan-4" />
        <img src="flores.png" class="tulipan tulipan-5" />
        <img src="flores.png" class="tulipan tulipan-6" />
        <img src="flores.png" class="tulipan tulipan-7" />
    </div>
    <div class="spotify-wrapper">
        <iframe src="https://open.spotify.com/intl-es/embed/track/0Zuf7TSajHmq2COksxnWJQ?si=8825e2c8a72c433e" width="500"
            height="80" frameborder="0"
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
        </iframe>
    </div>
    <p class="mensaje">Perdoname por cualquier disgusto o tristeza, solo quiero que sonrias aunque eso no sea eterno, te
        quiero mucho hoy y siempre.</p>
</div>